.App {
  text-align: center;
  height: 100vh;
}

.site-title {
  font-size:50px;
  margin-bottom:10px;
}

.site-subtitle {
  font-size:20px;
  margin-bottom: 20px;
}

.stores {
  width: 100vw !important;
}

.row {
  width: 100vw !important;
  margin: -20px !important;
}

.Store {
  background-color: white;
  margin: 20px;
  border-radius:17px;
}

.store-section {
  padding-bottom: 20px !important;
}

.store-section .right {
  padding-left: 10px !important;
  padding-right: 20px !important;
}

.store-section .left {
  padding-left: 20px !important;
  display: flex;
  flex-direction: column;
}


.stats {
  text-align: right;
  padding: 5px;
}

.comments {
  word-wrap: break-word;
  font-size: 15px;
}

.bottom-text {
  padding-top: 30px;
}